/**
 * Created by Moroni on 9/17/2014.
 * Instructions: copy the file to ./config/secrets.js and replace the GOES_HERE below
 *		with valid information
 */

emailInfo = { "user" : "EMAIL_GOES_HERE", "pass" : "PASSWORD_GOES_HERE"};
exports.emailInfo = emailInfo;
